# Entorno virtuales y variables de entorno
.venv
.env

#carpetas de almacenamiento
storage/
# carpetas de descargas
downloads/


# Archivos python
__pycache__/
*.py[cod]
*.pyo

# archivos 
*.csv
*.xlsx
*.xls