.contenedor {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;

}

.form-title {
    color: #2c3e50;
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 1.8rem;
}

.form-group {
    margin-bottom: 1.5rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    color: #34495e;
    font-weight: 500;
}

input,
select,
textarea {
    width: 100%;
    padding-left: 0.8rem;
    padding-bottom: 0.8rem;
    padding-top: 0.8rem;
    border: 2px solid #e2e8f0;
    border-radius: 6px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

input#can_purchase {
    margin: 0;
    width: 6%;
    height: 6%;
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
    border-color: #3498db;
}

input:disabled {
    background-color: #ebe8e8;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

.button-add {
    background: #3498db;
    color: white;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 6px;
    width: 100%;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #2980b9;
}

@media (max-width: 480px) {
    .container {
        padding: 1rem;
    }

    .form-title {
        font-size: 1.5rem;
    }
}