<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link href="../static/img/saturn.ico" rel="icon">
    <title>{% block title %} {% endblock %}</title>

    <!-- Google Font: Noto Sans -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;600&display=swap" rel="stylesheet">

    <!-- Styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block head %} {% endblock %}
</head>
<body>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>