{% extends 'layout.html' %}

{% block head %}
<link href="{{ url_for('static', filename='css/404_error.css') }}" rel="stylesheet" /> 

{% endblock %}

{% block title %} Página no encontrada {% endblock %}

{% block titulo_h1 %}{% endblock %}

{% block descripcion %}

{% endblock %}



{% block info %} 
<section class="bg-waves">
    <div class="bg-waves-content">
        <h1>Ups! Página no econtrada</h1>
        <p>
            Esta página no existe o ha sido movida. Por favor, verifica la URL o vuelve a la página de inicio.
        </p>
        <a href="{{ url_for('inicio') }}" class="cta-button">Volver al inicio</a>
    </div>
    <div class="waves"></div>
</section>

<script>
    document.querySelector(".hero").style.display = "none"; // Oculta la sección hero
    document.querySelector(".content").style.padding = "0"; // Elimina el padding de la sección content
</script>
{% endblock %}